*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body{
    font-size: 12px;
    width: 75%;
    margin: 10px auto;
    max-width: 700px;
    border: 10px solid #bdc3c7;
    padding: 15px;
}
/*padding forma part del width*/
ul{
    list-style: none;
    padding: 0px;
}
p{
    font-size: 1.5em;
    margin-bottom: 12px;
}

h1{
    font-size: 3em;
}
nav li{
    float: left;
    width: 25%;
    text-align: center;
    background-color: #bdc3c7;
    height: 25px;
    padding: 8px 0px 0px 0px;
}

a:hover{
    color: red;
}
a{
    text-decoration: none;
    color: white;
}

nav li:hover{
    background-color: #323638;

}

.date{
    font-size: 2em;
    text-transform: uppercase;
    color: #3498db;
}

.resum{
    border-left: 3px solid #bdc3c7;
    padding-left: 5px;
}

.wrapper
{
	padding-bottom: 90px;
}

.divider
{
	position: relative;
	margin-top: 90px;
	height: 1px;
}

.div-transparent:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}

